var time = {

  getDate: function(time, index1, index2) {
    if(index1==-1){
      // return parseInt(time)
      if (parseInt(time)){
        return time+'元/月'
      }else{
        return time
      }
    }
    else{
      if (!time) {
        return time
      } else {
        return (time.slice(index1, index2))
      }
    }
  }
}

module.exports = {
  getDate: time.getDate
}